.div-for-carousel {
  margin: 10px;
  padding: 30px;
  background-color: rgb(197, 240, 226);
}

.carousel-img {
  /* background-color: rgb(197, 240, 226); */
}

#temp {
  width: 500px;
  margin-left: 10px;
  height: 45px;
}

.btn-for-search {
  height: 40px;
  margin-left: -25px;
}

.form-for-search {
  float: left;
  margin-left: 130px;
}

.button-for-cart {
  float: right;
  margin-right: 130px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: x-large;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
}
.carousel-control.right {
  right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
  background: #333333;
}

.consult-types {
  padding: 0px 60px 10px 48px;
}

.know-your-medicine {
  background-color: blueviolet;
  width: 100%;
}
