.div-temp {
    color: aqua;
    font-family: "Courier New", Courier, monospace;
  }
  
  .main-pic {
    width: 100%;
    height: 400px;
    position: absolute;
  }

.special{
  margin-top:10rem;
  margin-bottom: 2rem;
}